name: "01"

on:
  push:
    branches:
      - "main"
  pull_request: 
    branches: ["main"]
  workflow_dispatch:

jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "lol"
          echo "hellx"
