name: "01"

on:
  push:
    branches:
      - "main"
      - "releases/**"
  pull_request:
    branches: 
      - '!releases/alpha-**'
      - 'releases/**'
    types: ["opened", "synchronize", "reopened"]
    paths:
      - "mock/filters/*.md"
      - "!mock/filters/*.txt"
  workflow_dispatch:
  # schedule:
  #   - cron: "15 4 * * 1-5"
env:
  WF_SECRET: 123

jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "lol"
          echo "hellx"
          
  build: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
  
  envy:
    runs-on: ubuntu-latest
    env: 
      JOB_SECRET: 456
    steps:
      - name: Print env vars
        env: 
          STEP_SECRET: 789
        run: |
          echo "wf: $WF_SECRET"
          echo "jb: $JOB_SECRET"
          echo "sp: $STEP_SECRET"
          

  pyth:
    runs-on: ubuntu-latest
    needs: [print, build]
    steps:
      - name:  "run python"
        run: print(2*2)
        shell: python
