name: "01"

on:
  push:
    branches:
      - "main"
  pull_request:
    branches: 
      - '!releases/alpha-**'
      - 'releases/**'
    types: ["opened"]
    paths:
      - "mock/filters/*.md"
      - "!mock/filters/"
  workflow_dispatch:
  # schedule:
  #   - cron: "15 4 * * 1-5"

jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "lol"
          echo "hellx"
          
  build: 
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: 1

  pyth:
    runs-on: ubuntu-latest
    needs: [print, build]
    steps:
      - name:  "run python"
        run: print(2*2)
        shell: python
