name: "01"

on:
  push:
    branches:
      - "main"
  pull_request: 
    branches: ["main"]
  workflow_dispatch:

jobs:
  print:
    runs-on: ubuntu-latest
    steps:
      - run: |
          echo "lol"
          echo "hellx"

  pyth:
    runs-on: ubuntu-latest
    needs: print
    steps:
      - name:  "run python"
        run: print(2*2)
        shell: python